/* FONT FACE LOADER */
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Amatic SC Regular'), local('AmaticSC-Regular'), url('fonts/AmaticSC-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Amatic SC Bold'), local('AmaticSC-Bold'), url('fonts/AmaticSC-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Dancing Script'), local('Dancing Script'), url('fonts/DancingScript-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Dancing Script'), local('Dancing Script'), url('fonts/DancingScript-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Oswald'), local('Oswald'), url('fonts/Oswald-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Oswald'), local('Oswald'), url('fonts/Oswald-Bold.ttf') format('truetype');
}

:root {
  --primary-color: #24261f;
  --second-color: #6e6c9b;
  --third-color: #e57e71;
  --forth-color: #81cec5;
  --fifth-color: #84b1d5;
  --sixth-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  outline: none;
  color: #fff;
}
/* a.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* max-width: 400px;
    margin: 0 auto; 
}*/

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Oswald", sans-serif;
  line-height: 1.1;
  font-size: 1rem;
  color: #fff;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.content {
  max-width: 800px;
  z-index: 1;
}
h1 {
  font-size: 4rem;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}
h2 {
  font-size: 3.2rem;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--forth-color);
}
h3 {
  font-size: 3rem;
  font-family: "Dancing Script", cursive;
  color: var(--sixth-color);
  padding: 20px 0;
}
p {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  margin-top: 35px;
  background: #1d1e1a;
  border-radius: 10px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: var(--sixth-color);
  letter-spacing: .3px;
}

h1, h2, h3, h4, p {
    z-index: 10;
    position: relative;
}
i {
    z-index: 9;
}

/* --- Page 1 ---*/
#page-1 {
  position: relative;
  background: var(--primary-color);
  color: #fff;
  width: 100%;
  height: 100vh;
}
#page-1 h4 {
  color: #81cec5;
  text-transform: uppercase;
}

 /* Style the Image Used to Trigger the Modal */
 #myModalTrigger {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

/* #myModalTrigger:hover {opacity: 0.7;} */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  padding: 100px 10px;
}

ul {
  list-style: none;
}
li {
  line-height: 3;
  font-size: 1.35rem;
  padding-left: 20px;
}
li a {
  padding: 10px 30px;
  color: #eee;
  background: #040403;
  border-radius: 35px;
}
li a:hover {
  color: #111;
  transition: ease 0.6s;
  background: #81cec5;
  padding: 10px 30px;
  border-radius: 35px;
}
/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  /* max-width: 700px;
  height: 80vh; */
  background: radial-gradient(#111, #101010, #000, #000);
  /* background: #000000dd; */
  z-index: 100;
  /* border: 2px solid #000; */
  border-radius: 15px;
  padding: 30px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
  li {
    line-height: 2;
    font-size: 1.5rem;
  }  
} 
@media only screen and (max-width: 575px){
  li {
    line-height: 2.5;
    font-size: 1.25rem;
  }  
} 