@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Herr+Von+Muellerhoff&family=Source+Sans+Pro:wght@400;900&display=swap");

@font-face {
  font-family: "Open Sans Light";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Open Sans Light"), local("OpenSans-Light"),
    url("fonts/OpenSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
    url("fonts/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Dancing Script"), local("Dancing Script"),
    url("fonts/DancingScript-Bold.ttf") format("truetype");
}

:root {
  --primary-color: green;
  --secondary-color: greenyellow;
  --third-color: #c6c328;
  --forth-color: #fffc2f;
  --fifth-color: #c4c435;
  --sixth-color: #084808;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #403229;
}

h1,
h2 {
  font-family: "Dancing Script", cursive;
  /* font-family: 'Herr Von Muellerhoff', cursive;; */
}
h1 {
  font-size: 4rem;
  color: #806532;
}

h3 {
  color: #806532;
}

a {
  text-decoration: none;
  color: var(--sixth-color);
}

a:hover {
  opacity: 0.8;
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  background: var(--fifth-color);
  color: var(--sixth-color);
  margin-top: 15px;
  /* box-shadow: 0 0 10px #555; */
  transition: background 150ms ease;
}
.btn:hover {
  background: var(--sixth-color);
  color: var(--fifth-color);
  opacity: 1;
}

.img-item {
  /* box-shadow: 0 0 10px #555; */
}
/* HEADER */
nav {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
}

.navbar-brand i {
  font-size: 2rem;
  vertical-align: sub;
  padding-right: 5px;
  color: #c4c435;
}
.navbar-brand span {
  font-size: 1.25rem;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-item {
  padding-right: 25px;
  line-height: 4rem;
}

/* Hamburger */
.hamburger {
  display: none;
  position: relative;
  width: 1.7rem;
  height: 1rem;
  z-index: 50;
  cursor: pointer;
}
.hamburger .line {
  background-color: var(--primary-color);
  width: 100%;
  height: 2px;
  position: absolute;
  right: 0;
  display: block;
  transition: transform 350ms, rotate 350ms;
}
/* hamburger lines positioning */
.hamburger .line:nth-child(1) {
  top: 0;
}
.hamburger .line:nth-child(2) {
  top: 50%;
  width: 1.3rem;
}
.hamburger .line:nth-child(3) {
  top: 100%;
  width: 0.9rem;
}
/* Hamburger lines transform animation on click */
.hamburger.active .line:nth-child(1) {
  width: 0.9rem;
  transform: translateY(0.5rem) rotate(45deg);
}
.hamburger.active .line:nth-child(2) {
  opacity: 0;
}
.hamburger.active .line:nth-child(3) {
  width: 0.9rem;
  transform: translateY(-0.5rem) rotate(-45deg);
}

/* SHOWCASE */
#showcase {
  position: relative;
  width: 100%;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 20px;
}
#showcase h1,
#adopt h1 {
  color: var(--fifth-color);
  text-shadow: 0 0 10px #000;
}
#showcase h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
}
#showcase .btn {
  /* box-shadow: 0 0 10px #222; */
  margin-top: 25px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  text-transform: uppercase;
}
#showcase .btn:hover {
  background: var(--fifth-color);
  border: 2px solid var(--fifth-color);
  color: var(--sixth-color);
}
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color) url(images/dogs-wide-7-lg.jpg) no-repeat
    center center/cover;
  overflow: hidden;
}
.video-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0000007d;
}

.video-container video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 55%;
  transform: translate(-55%, -50%);
  /* margin-top: ; */
}

.content {
  z-index: 10;
}

/* BACK TO PORTFOLIO BUTTON */
.back-to-portfolio {
  position: fixed;
  left: 0;
  top: 45%;
  background: #fff;
  border-left: none;
  border-bottom-right-radius: 0.6rem;
  padding: 0px 40px 5px 10px;
  text-transform: uppercase;
  cursor: pointer;
  transform: translateX(-100%);
  transition: transform 0.3s;
  z-index: 2000;
  font-size: 0.9rem;
  line-height: 2;
  box-shadow: 0 0 5px #000;
}
.go-back .back-to-portfolio {
  transform: translateX(0);
}
.back-to-portfolio h4 {
  color: #806532;
  padding: 5px 2px 5px 0;
  /* font-size: 1.1rem; */
}
.back-to-portfolio h4 a {
  color: #806532;
}
.back-to-portfolio h4 a i {
  position: relative;
  top: 5px;
}
.back-to-portfolio h4 a:hover {
  color: #403229;
}
.back-to-portfolio h4.right {
  position: relative;
  right: -41px;
}
.back-to-portfolio .after {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  padding: 5px 15px 5px 15px;
  /* font-size: 1.4rem; */
  position: absolute;
  top: 0px;
  right: -17.3%;
  background: #806532;
  border-top-right-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  border-left-width: 1px;
  box-shadow: 2px 0 5px #000;
}

.back-to-portfolio .after span {
  display: block;
  animation: 1.8s pulse infinite ease-in;
}

.go-back .overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #0f0f0fcf;
  z-index: 1500;
}

/* ABOUT SECTION */
#about {
  padding: 40px 0;
  text-align: center;
}
#about h1 {
  margin-bottom: 25px;
}
.row {
  display: flex;
  width: 100%;
  margin: auto;
}
.row-about {
  width: 60%;
}
.col-text {
  width: 60%;
}
.col-text .content {
  text-align: left;
  padding: 0 20px 40px;
  width: 80%;
  margin: auto;
}
.col-text .content ol {
  padding-left: 20px;
}
.col-img {
  width: 400px;
}
.col-img .img-item {
  max-width: 400px;
  margin: auto;
}
.col-img img {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.img-border {
  border: 20px solid #806532;
  padding: 3px !important;
}

/* BREEDS SECTION */
#breeds {
  padding: 40px 0;
  text-align: center;
  background: #efefef;
}
#breeds > h3 {
  color: #403229;
}
.row-3-col {
  width: 75%;
  padding: 20px 0;
  flex-wrap: wrap;
}
.col-4 {
  width: 31.3%;
  min-width: 410px;
  margin: 1% auto;
  text-align: center;
}
.col-4 .img-item {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.col-4 .img-item:hover img {
  transform: scale(1.1);
  filter: brightness(80%);
}

.img-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.8s;
}

.img-item img:hover {
  filter: brightness(80%);
}

.col-4 .content {
  padding: 20px;
}
.col-4 .content h3 {
  margin-bottom: 15px;
}
.col-4 .content p {
  margin-bottom: 15px;
}

/* Adopt Jumbotron CTA */
#adopt {
  padding: 12rem 20px;
  position: relative;
  background: var(--primary-color) url(images/dogs-wide16-lg.jpg) no-repeat
    center center/cover;
}
#adopt::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0000007d;
}
#adopt .btn {
  /* box-shadow: 0 0 10px #222; */
}
.btn-cta {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  text-transform: uppercase;
}
.btn-cta:hover {
  background: var(--fifth-color);
  border: 2px solid var(--fifth-color);
  color: var(--sixth-color);
}
.adopt-inner {
  display: flex;
  justify-content: center;
  text-align: center;
}
.adopt-inner .content {
  color: #fff;
}

/* BLOG */
#blog {
  padding: 40px 0;
  text-align: center;
}
.row-blog {
  width: 75%;
  padding: 20px 0;
  flex-wrap: wrap;
}

/* FOOTER */
footer {
  padding: 40px 0;
  text-align: center;
  background: #202020;
  color: #fff;
}
footer a {
  color: var(--fifth-color);
}

/* MEDIA QUERIES */
@media screen and (max-width: 1499px) {
  .row {
    width: 90%;
  }
}
@media screen and (max-width: 991px) {
  .nav-list {
    flex-direction: column;
    position: fixed;
    z-index: 30;
    left: 0;
    bottom: -100%;
    width: 100%;
    height: 100%;
    background: #ffffff;
    justify-content: center;
    align-items: center;
    transition: bottom ease 400ms;
  }
  .nav-list.active {
    bottom: 0;
  }
  .hamburger {
    display: flex;
  }
  .row {
    flex-direction: column;
    width: 100%;
  }
  .row-about {
    width: 100%;
  }
  .col-text,
  .col-text .content {
    width: 100%;
  }
  .col-img {
    width: 100%;
  }
  .col-4 {
    width: 75%;
    margin: 2% auto;
    min-width: 75%;
  }
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 3.1rem;
  }
  .col-4 {
    width: 80%;
  }
}
@media screen and (max-width: 567px) {
  .col-4 {
    width: 90%;
  }
}
