@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    /* background: rgb(124, 37, 37); */
    /* background: whitesmoke; */
    background: #5f9ea0;
    color: #fff;
}

#container {
    max-width: 992px;
    margin: auto;
    text-align: center;
}

#title {
    margin-top: 6rem;
    font-size: 2.5rem;
}
#description {
    font-size: 1.3rem;
}

#survey-form {
    /* background: maroon; */
    background: rgb(230, 230, 230);
    color: #444;
    width: 80%;
    text-align: left;
    padding: 3rem;
    border-radius: .5rem;
    box-shadow: 0 0 10px #444;
    margin: 3rem 10%;
    font-size: 1.1rem;
}

label {
    display: block;
    margin-bottom: .5rem;
    display: flex;
}

.form-control {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
    padding: 7px;
}

.radio, .checkbox {
    margin-right: .5rem;
    vertical-align: text-top;
}

p {
    margin-bottom: 0.5rem;
}

.textarea {
    width: 100%;
    resize: vertical;
    padding: .6rem;
    margin-bottom: 2rem;
}

input, textarea {
    font-family: inherit;
    font-size: inherit;
}

.submit-btn {
    display: block;
    padding: 13px;
    width: 100%;
    background: cadetblue;
    color: #fff;
    text-align: center;
    font-size: inherit;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

@media screen and (max-width: 567px) {
    #title {
        font-size: 1.8rem;
    }
    #survey-form {
        margin: 3rem 5%;
        padding: 1.5rem;
        width: 90%;
    }
    .form-control {
        margin-bottom: 1rem;
    }
}